<footer class="grid-container">
  <div class="visual-divider"></div>
  <div class="grid-x align-middle align-center">
    <div class="cell small-12 medium-8 grid-x">
      <div class="cell grid-x align-middle medium-auto left-section">
        <div class="cell shrink">
          <a class="logo" href="{{ site.baseurl }}/">
            {% capture location %}footer{% endcapture %}
            {% include wm-logo.svg %}
          </a>
        </div>
        <div class="content-area cell shrink">
          <p class="footer-heading">{{ site.title }}</p>
          <a href="https://www.duq.edu/academics/schools/liberal-arts/academics/departments-and-centers/media-department/undergraduate-programs/digital-media-interactive-design-and-media" target="_blank" rel="noopener"><p>Duquesne University</p></a>
        </div>
      </div>

      <div class="cell medium-shrink right-section">
        <a href="https://web--mobile-design.slack.com" class="social" target="_blank" rel="noopener"><i class="fab fa-slack"></i></a>
      </div>
    </div>

  </div>
</footer>
