//******* 404 Styling
.title-404 {
  font-size: 3em;
  @include breakpoint(small only) {
    text-align: center;
    font-size: 3.5em;

  }
}

.words-404 {
  font-size: 1.8em;
  margin-bottom: 1em;
  @include breakpoint(small only) {
    text-align: center;
    font-size: 2em;
    margin-bottom: 2em;
  }
}
